.progress {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 66px;
    margin-bottom: 40px;
    padding: 5px 20px;
    background-color: mix($blue, $white, 10%);
}

.progress-bar {
    position: relative;
    width: 500px;
    height: 8px;
    background-color: $white;
    border-radius: 8px;
}

.progress-bar-fill {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: $blue;
    border-radius: 8px;

    &:after {
        content: '';
        position: absolute;
        top: 50%;
        right: -9px;
        width: 18px;
        height: 18px;
        transform: translateY(-50%);
        background-color: $blue;
        border-radius: 100%;
    }
}

.progress-bar-percentage {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    display: block;
    width: 60px;
    margin-left: 15px;
    font-size: 18px;
    line-height: 1;
    text-align: left;
}

.progress-status {
    margin-left: 20px;
    padding: 20px 0;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
}
