.d-flex {
    display: flex !important;
}

.justify-content-between {
    justify-content: space-between !important;
}

.justify-content-center {
    justify-content: center !important;
}

.justify-content-end {
    justify-content: flex-end !important;
}

.pt-0 {
    padding-top: 0 !important;
}

.font-weight-bold {
    font-weight: 600;
}

.text-center {
    text-align: center;
}

.text-danger {
    color: $red;
}
