.week-wrapper {
    width: 100%;
    overflow-x: auto;
    transition: opacity 0.2s;

    &.is-loading {
        opacity: 0.25;
        pointer-events: none;
    }
}

.week {
    width: 1200px;
    margin: 0 auto 50px;
    padding: 0 50px;
    table-layout: fixed;
    border-spacing: 2px;
    font-size: 14px;

    @media (max-width: 900px) {
        padding: 0 10px;
    }
}

.week-header {
    th:first-child {
        width: 115px;
        padding-right: 10px;
        color: $blue;
        font-size: 16px;
        font-weight: 400;
        text-align: right;
    }
}

.week-hour {
    width: 115px;
    height: 40px;
    padding-right: 10px;
    text-align: right;
}

.week-cell {
    padding: 5px;
    text-align: center;
    cursor: default;

    &.is-available {
        background-color: mix($green, $white, 15%);

        &:not(.is-history):hover {
            background-color: mix($green, $white, 25%);
        }
    }

    &.is-unavailable {
        background-color: transparent;
        cursor: not-allowed;
    }

    &.is-registered {
        background-color: mix($yellow, $white, 25%);

        &:not(.is-history):hover {
            background-color: mix($yellow, $white, 40%);
        }
    }

    &.is-active {
        box-shadow: 0 0 8px 3px rgba($green, 0.5);
        transform: scale(1.1);
        z-index: 5;

        &.is-registered {
            box-shadow: 0 0 12px 3px rgba(darken($yellow, 10%), 0.5);
        }
    }

    &.is-history {
        opacity: 0.5;
    }
}

.week-cell-header {
    height: 40px;
    padding: 5px;
    font-weight: 500;

    &::first-letter {
        text-transform: capitalize;
    }
}

.week-cell-registration {
    max-width: 139px;
    margin: auto;
    line-height: 1.25;
}

.week-cell-registration-name {
    padding: 0 5px;
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.week-cell-registration-count {
    margin-top: -2px;
    font-size: 13px;
}
