@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';

$lightgray: rgb(233, 236, 239);
$blue: rgb(21, 77, 196);
$red: rgb(207, 40, 28);
$green: rgb(40, 167, 69);
$yellow: rgb(255, 178, 7);

$modal-fade-transform: none;
$modal-transition: transform 0.2s;

$spinner-border-width-sm: 2px;

@import '../../node_modules/bootstrap/scss/mixins';
@import '../../node_modules/bootstrap/scss/transitions';
@import '../../node_modules/bootstrap/scss/modal';
@import '../../node_modules/bootstrap/scss/spinners';

@import 'button';
@import 'list';
@import 'modal';
@import 'forms';
@import 'header';
@import 'location';
@import 'progress';
@import 'quick-signup';
@import 'spinner';
@import 'week';
@import 'utilities';

*,
*:after,
*:before {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
}

h2 {
    margin-bottom: 10px;
    font-size: 22px;
}

p {
    margin-top: 0;
    margin-bottom: 20px;
}
