@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';

$lightgray: rgb(233, 236, 239);
$blue: rgb(22, 88, 231);
$red: rgb(207, 40, 28);
$green: rgb(40, 167, 69);
$yellow: rgb(255, 193, 7);

$modal-fade-transform: none;
$modal-transition: unset;

@import '../../node_modules/bootstrap/scss/mixins';
@import '../../node_modules/bootstrap/scss/transitions';
@import '../../node_modules/bootstrap/scss/modal';

@import 'button';
@import 'list';
@import 'modal';
@import 'forms';
@import 'week';
@import 'utilities';

*,
*:after,
*:before {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    font-weight: 600;
}

h2 {
    margin-bottom: 10px;
    font-size: 22px;
}

p {
    margin-top: 0;
    margin-bottom: 20px;
}

.main-header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    background-image: url(../img/background-2.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.4);
    }

    > * {
        position: relative;
        z-index: 1;
    }

    h1 {
        margin-bottom: 0;
        font-size: 60px;
        font-weight: 300;
        line-height: 1.4;
    }

    h2 {
        font-size: 28px;
    }

    .button {
        margin-top: 30px;
    }
}

.pane {
    margin-bottom: 100px;
    padding: 100px 0;
    background-color: #e6e6e6;
}

.progress {
    width: 400px;
    margin: auto;
    font-size: 14px;
    font-weight: 500;
}

.progress-bar {
    position: relative;
    width: 100%;
    height: 30px;
    margin-bottom: 5px;
    background-color: #fff;
    border-radius: 3px;
    overflow: hidden;
}

.progress-bar-fill {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: $blue;
}
