@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';

$blue: rgb(22, 88, 231);
$red: rgb(207, 40, 28);
$green: rgb(40, 167, 69);
$yellow: rgb(255, 193, 7);

$modal-fade-transform: none;
$modal-transition: unset;

@import '../../node_modules/bootstrap/scss/mixins';
@import '../../node_modules/bootstrap/scss/transitions';
@import '../../node_modules/bootstrap/scss/modal';
@import '../../node_modules/bootstrap/scss/close';

*,
*:after,
*:before {
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    margin: 0;
    padding: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    line-height: 22px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    margin-top: 0;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
}

input[type='text'],
input[type='email'] {
    display: block;
    width: 100%;
    padding: 16px;
    border: 1px solid #aaa;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;

    &:read-only {
        background-color: #f0f0f0;
        color: #777;
    }

    &:focus {
        outline: -webkit-focus-ring-color auto 4px;
    }
}

.button {
    display: inline-flex;
    padding: 12px 20px;
    background: #ddd;
    border: 0;
    border-radius: 3px;
    color: #444;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;

    &:hover {
        background-color: #e9e9e9;
    }
}

.button-primary {
    background-color: $blue;
    font-weight: 600;
    color: #fff;

    &:hover,
    &:focus {
        background-color: darken($blue, 10%);
    }
}

// Modal

.modal-title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 18px;
}

.modal-body,
.modal-header {
    padding: 20px;
}

// Forms

.form-grid {
    display: grid;
    grid-auto-flow: column;
    column-gap: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group-help {
    margin-top: 5px;
    margin-bottom: 10px;
    line-height: 18px;
    color: #777;
}

// Week

.week {
    width: 1200px;
    margin: auto;
    border-spacing: 2px;
}

.week-hour {
    width: 115px;
    height: 40px;
    padding-right: 10px;
    text-align: right;
}

.week-cell {
    width: 155px;
    padding: 5px;
    text-align: center;

    &.is-available {
        background-color: mix($green, #fff, 30%);

        &:not(.is-history):hover {
            background-color: mix($green, #fff, 40%);
        }
    }

    &.is-unavailable {
        background-color: whitesmoke;
    }

    &.is-registered {
        background-color: rgba($yellow, 0.4);

        &:hover {
            background-color: rgba($yellow, 0.55);
        }
    }

    &.is-active {
        box-shadow: 0 0 8px 3px rgba($green, 0.5);
        transform: scale(1.1);
        color: #fff;
        z-index: 5;
    }

    &.is-history {
        opacity: 0.5;
    }
}

.week-cell-header {
    padding-bottom: 5px;
    font-weight: 500;
    text-transform: capitalize;
}

// Registration

.registration {
    max-width: 139px;
    margin: auto;
    line-height: 1;
}

.registration-name {
    padding: 0 5px;
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.registration-count {
    font-size: 13px;
}

// Utilities

.d-flex {
    display: flex !important;
}

.justify-content-between {
    justify-content: space-between !important;
}

.font-weight-bold {
    font-weight: 600;
}

.text-center {
    text-align: center;
}
